/prototype1/node_modules/.bin/
/prototype1/node_modules/socket.io/node_modules/socket.io-client/node_modules/.bin/
/prototype1/node_modules/socket.io/node_modules/socket.io-client/node_modules/ws/build/Release/.deps/