/* 
    Document   : style
    Created on : Jul 30, 2012, 3:43:43 PM
    Author     : newe1344
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#home-link {
    position: absolute;
    z-index: 1000;
}

#home-link img:hover {
    -webkit-filter: grayscale(0.5);
}

.home-left {
    top: 80px;
    left: 594px;
}

.home-right {
    top: 80px;
    right: 100px;
}

